/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*!
 fugu-alert.scss
 Version: 0.0.1
 Author: heqingyang@meituan.com
 */.fugu-datepicker button:focus,.fugu-dropdown button:active,.fugu-dropdown button:focus{outline:0}.fugu-alert{word-wrap:break-word}.fugu-alert .alert-icon{float:left}.fugu-alert .alert-icon-span{position:relative;top:2px}.fugu-alert .cancel-text{font-size:20px}.fugu-alert .show-icon{padding-left:20px}.glyphicon-refresh-animate{-animation:spin .7s infinite linear;-ms-animation:spin .7s infinite linear;-webkit-animation:spinw .7s infinite linear;-moz-animation:spinm .7s infinite linear}@keyframes spin{from{transform:scale(1) rotate(0)}to{transform:scale(1) rotate(360deg)}}@-webkit-keyframes spinw{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@-moz-keyframes spinm{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(360deg)}}.btn-addon i{margin:-7px 12px -7px -12px;background-color:rgba(0,0,0,.1);width:34px;height:34px;line-height:34px;text-align:center;float:left;position:relative;border-radius:2px 0 0 2px}.btn-addon i.pull-right{margin-right:-12px;margin-left:12px;border-radius:0 2px 2px 0}.btn-addon.btn-sm i{margin:-6px 10px -6px -10px;width:30px;height:30px;line-height:30px}.btn-addon.btn-sm i.pull-right{margin-right:-10px;margin-left:10px}.btn-addon.btn-lg i{margin:-11px 16px -11px -16px;width:45px;height:45px;line-height:45px}.btn-addon.btn-lg i.pull-right{margin-right:-16px;margin-left:16px}.btn-addon.btn-default i{background-color:transparent;border-right:1px solid #dee5e7}.btn-addon.btn-xs i{margin:-2px 6px -2px -5px;width:19px;height:19px;line-height:19px}.btn-addon.btn-xs i.pull-right{margin-right:-6px;margin-left:6px}.fugu-datepicker{position:relative;display:inline-block}.fugu-datepicker .fugu-datepicker-remove{border-radius:0;border-left:0}.fugu-datepicker~.fugu-datepicker-popover.in{display:block}.fugu-datepicker~.fugu-datepicker-popover.in .fugu-calendar{border:0}.fugu-calendar{display:inline-block;border-radius:3px;color:#666;cursor:default;overflow:hidden;border:1px solid #ddd;background-color:#fff;white-space:normal;-webkit-appearance:none}.fugu-calendar .fugu-cal-month{line-height:20px;text-align:center;font-size:17px;font-weight:700;height:22px;position:relative;padding-top:17px;padding-bottom:5px;box-sizing:content-box}.fugu-calendar .fugu-cal-month-name{font-size:15px;font-weight:400}.fugu-calendar .fugu-cal-next-button,.fugu-calendar .fugu-cal-pre-button{cursor:pointer;position:absolute;top:17px;width:30px;height:42px;background-position:11.5px 4px;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.fugu-calendar .fugu-cal-pre-button{left:17px}.fugu-calendar .fugu-cal-next-button{right:17px}.fugu-calendar .fugu-cal-header{margin:0 17px;height:auto;font-size:14px;line-height:1}.fugu-calendar .fugu-cal-header>div{width:32px;padding:1px;float:left;text-align:center;height:19px;color:#666;border-bottom:#cecece 1px solid;margin-bottom:7px;overflow:hidden}.fugu-calendar .fugu-cal-body{margin:0 17px}.fugu-calendar .fugu-cal-row{height:24px;min-width:231px;line-height:24px;clear:both}.fugu-calendar .fugu-cal-row>div{float:left;text-align:center;height:100%;width:32px}.fugu-calendar .fugu-cal-day{margin:1px 1px 0 0;cursor:pointer;font-size:12px;color:#666;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.fugu-calendar .fugu-cal-day-today{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #3498db;border-radius:6px}.fugu-calendar .fugu-cal-weekday{color:#3498db;font-weight:700}.fugu-calendar .fugu-cal-day:hover,.fugu-calendar .fugu-cal-select{border:none;color:#fff;background:#27ae60;border-radius:6px}.fugu-calendar .fugu-cal-outside{font-weight:400;color:#bbb}.fugu-calendar .fugu-cal-day-disabled{cursor:not-allowed;color:#bbb}.fugu-calendar .fugu-cal-day-disabled:hover{border:none;color:#bbb;background:0 0}.fugu-calendar .fugu-cal-footer{text-align:center;font-size:12px;color:#444;margin:4px 17px;padding-top:2px;cursor:pointer}.fugu-calendar .fugu-cal-time{padding:2px 4px}.fugu-calendar .fugu-cal-time:hover{text-decoration:underline;color:#3498db}.fugu-calendar .fugu-cal-today-btn{padding:3px 0;font-size:14px;font-weight:700}.fugu-calendar .fugu-cal-today-btn:hover{background:#eee;border-radius:5px}.fugu-calendar .fugu-cal-panel-time{padding:10px 30px}.fugu-calendar .fugu-cal-panel-time .btn-group{display:block}.fugu-calendar .fugu-cal-panel-time button{outline:0;width:33.333%}.fugu-calendar .fugu-timepanel{border:none}.fugu-calendar .fugu-cal-month-table{margin-bottom:20px}.fugu-calendar .fugu-cal-month-item{padding:5px;border:1px solid #ddd;margin:2px;text-align:center;cursor:pointer;min-width:60px}.fugu-calendar .fugu-cal-month-item:hover{background:#74BCEC}.fugu-calendar .fugu-cal-year-item{padding:5px 20px}.fugu-calendar .fugu-cal-month-select{background:#3498db;color:#fff}.fugu-calendar .fugu-cal-month-select:hover{background:#3498db}/*!
 fugu-dropdown.css
 Version: 0.0.1
 Author: yangjiyuan@meituan.com
 */.fugu-dropdown{position:relative;display:inline-block}.fugu-dropdown>.fugu-dropdown-menu>li{border-right:1px solid #eaeff0;padding-right:10px;padding-left:10px;max-width:160px}.fugu-dropdown>.fugu-dropdown-menu>li>a{overflow-x:hidden;text-overflow:ellipsis;padding:3px 0}.fugu-dropdown>.fugu-dropdown-menu>li>a:hover{background:#ddd}.fugu-dropdown-multi .fugu-dropdown-menu>li{float:left}.fugu-dropdown.open .fugu-dropdown-menu{display:block}@media screen and (max-width:767px){.fugu-dropdown-multi>.fugu-dropdown-menu{width:250px!important}.fugu-dropdown-multi>.fugu-dropdown-menu li{width:50%!important}.fugu-dropdown.open{width:100%}}.notice-item{width:250px}.notice-container{width:260px;padding:5px 5px 0;position:fixed;top:60px;right:20px;background-color:transparent;max-height:100%;overflow-y:scroll}.input-group>.fugu-select.dropdown{position:static}.input-group>.fugu-select>input.fugu-select-search.form-control{border-radius:4px 0 0 4px!important}body>.fugu-select.open{z-index:1000}.fugu-select .fugu-select-allowclear{margin-right:10px}.fugu-select .fugu-select-highlight{font-weight:700}.fugu-select .fugu-select-focus{color:#333;background-color:#EBEBEB;border-color:#ADADAD;text-decoration:none;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.fugu-select .fugu-select-toggle{position:relative;outline:0}.fugu-select .fugu-select-toggle>.caret{position:absolute;height:10px;top:50%;right:10px;margin-top:-2px}.fugu-select .fugu-select-match>.btn{text-align:left!important}.fugu-select .fugu-select-match>.caret{position:absolute;top:45%;right:15px}.fugu-select .fugu-select-choices{width:100%;height:auto;max-height:200px;overflow-x:hidden;margin-top:-1px}.fugu-select .fugu-select-choices-row>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.fugu-select .fugu-select-choices-row>a:focus,.fugu-select .fugu-select-choices-row>a:hover{text-decoration:none;color:#262626;background-color:#f5f5f5}.fugu-select .fugu-select-choices-row.active>a{color:#fff;text-decoration:none;outline:0;background-color:#428bca}.fugu-select .fugu-select-choices-row.active.disabled>a,.fugu-select .fugu-select-choices-row.disabled>a{color:#777;cursor:not-allowed;background-color:#fff}.fugu-select .fugu-select-match.ng-hide-add,.fugu-select .fugu-select-search.ng-hide-add{display:none!important}.fugu-select.ng-dirty.ng-invalid>button.btn.fugu-select-match{border-color:#D44950}.fugu-select.direction-up .fugu-select-dropdown{box-shadow:0 -4px 8px rgba(0,0,0,.25)}.fugu-select .fugu-select-offscreen{clip:rect(0 0 0 0)!important;width:1px!important;height:1px!important;border:0!important;margin:0!important;padding:0!important;overflow:hidden!important;position:absolute!important;outline:0!important;left:0!important;top:0!important}.fugu-select-multiple{height:auto;padding:3px 3px 0}.fugu-select-multiple.fugu-select input.fugu-select-search{background-color:transparent!important;border:none;outline:0;height:1.666666em;margin-bottom:3px}.fugu-select-multiple.fugu-select .fugu-select-match .close{font-size:1.6em;line-height:.75}.fugu-select-multiple .fugu-select-match-item{outline:0;margin:0 3px 3px 0;position:relative}.fugu-select-multiple .fugu-select-match-item.dropping-before:before{content:"";position:absolute;top:0;right:100%;height:100%;margin-right:2px;border-left:1px solid #428bca}.fugu-select-multiple .fugu-select-match-item.dropping-after:after{content:"";position:absolute;top:0;left:100%;height:100%;margin-left:2px;border-right:1px solid #428bca}.fugu-switch{cursor:pointer;position:relative;display:inline-block;width:40px;height:25px;border-radius:1000px;background-color:#777;margin:0}.fugu-switch i:after,.fugu-switch i:before{content:"";position:absolute;background-color:#fff}.fugu-switch input:checked+i:after,.fugu-switch-md input:checked+i:after,.fugu-switch-sm input:checked+i:after{margin-left:16px}.fugu-switch input{position:absolute;opacity:0;filter:alpha(opacity=0)}.fugu-switch input:checked+i:before{top:50%;bottom:50%;left:50%;right:5px;border-width:0}.fugu-switch i:before{top:-1px;bottom:-1px;left:-1px;right:-1px;border:1px solid #f0f0f0;border-radius:1000px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}.fugu-switch i:after{width:23px;top:1px;bottom:1px;border-radius:50%;-webkit-transition:margin-left .3s;-moz-transition:margin-left .3s;transition:margin-left .3s;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.25);-moz-box-shadow:1px 1px 3px rgba(0,0,0,.25);box-shadow:1px 1px 3px rgba(0,0,0,.25)}.fugu-switch-default{background-color:#777}.fugu-switch-primary{background-color:#428bca}.fugu-switch-success{background-color:#5cb85c}.fugu-switch-info{background-color:#5bc0de}.fugu-switch-error{background-color:#d9534f}.fugu-switch-sm{width:35px;height:20px}.fugu-switch-sm i:after{width:18px}.fugu-switch-md{width:40px;height:25px}.fugu-switch-md i:after{width:23px}.fugu-switch-lg{width:50px;height:30px}.fugu-switch-lg input:checked+i:after{margin-left:21px}.fugu-switch-lg i:after{width:28px}.fugu-timepanel{display:inline-block;border-radius:3px;color:#666;cursor:default;border:1px solid #ddd;background-color:#fff;white-space:normal;-webkit-appearance:none;padding:5px 8px;box-sizing:content-box;min-width:150px}.fugu-timepanel .fugu-timepanel-col{width:50px;float:left;text-align:center;font-size:16px;line-height:1.5;padding:0 4px;box-sizing:border-box}.fugu-timepanel .fugu-timepanel-bottom,.fugu-timepanel .fugu-timepanel-middle,.fugu-timepanel .fugu-timepanel-top{padding:5px 10px;cursor:pointer;position:relative}.fugu-timepanel .fugu-timepanel-input{width:100%;border:none;outline:0;float:left;position:relative;text-align:center}.fugu-timepanel .fugu-timepanel-bottom,.fugu-timepanel .fugu-timepanel-top{color:#bbb;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.fugu-timepanel .fugu-timepanel-top{border-bottom:2px solid #1cafdb}.fugu-timepanel .fugu-timepanel-bottom{border-top:2px solid #1cafdb}.fugu-timepanel .fugu-timepanel-label{position:absolute;right:0;top:0;font-size:10px}.fugu-timepicker{position:relative;display:inline-block}.fugu-timepicker button{outline:0}.fugu-timepicker-popover.in{display:block}.fugu-timepicker-popover.in .fugu-timepanel{border:0}.tree{-moz-user-select:-moz-none;-webkit-user-select:none;-ms-user-select:none;user-select:none;font-family:Tahoma;font-size:13px;color:#555;text-decoration:none}.tree li,.tree ol{list-style-type:none;padding-bottom:0;margin-top:0;margin-bottom:0}.tree ol{padding-left:20px}.tree .cur{cursor:pointer;position:relative}.tree .cur>span{padding-right:2px}.tree .nopadder{padding:0}.tree .m-30{margin-left:30px}.tree .m-10-neg{margin-right:-10px}.tree .w-400{width:400px}.tree .v-m{vertical-align:middle}
html,body,#app{
    height: 100%;
}
.app-header .navbar-brand{
    width: 200px;
    text-align: center;
}
.navbar-nav{
    padding-left: 100px;
}
.app-home{
    padding: 50px 100px;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    color:  #666;
    background: linear-gradient(to top, #DDD 0%,rgba(225,225,225,0) 21%,rgba(235,235,235,0) 81%,#EEE 100%);
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #fff;
    text-align: center;
    padding-top:15px;
    padding-bottom: 20px;
    margin-top: -50px;
}
.app-home a{
    color: #1022FF;
    font-weight: normal;
}
.app-home .btn-outline-inverse{
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #337ab7;
    color: #337ab7;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active{
    color: #fff;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #337ab7;
}
.app-main{
    padding: 50px 100px 0;
    min-height: 100%;
    font-size: 16px;
}
.app-aside{
    float: left;
    width: 200px;
    background-color: #f8f8f8;
}
.app-aside > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-aside > ul > li{
    height: 40px;
    line-height: 40px;
}
.app-aside li a{
    display: block;
    padding: 0 5px 0 30px;
    text-decoration: none;
    color: #1022FF;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.app-aside li.active > a{
    background-color: #fff;
    color: #F928F5;
    border-left: 3px solid #F928F5;
}
aside.app-aside:before{
    content: "";
    position: fixed;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border: inherit;
}
.app-content{
    padding:8px 40px 40px;
    margin-left: 200px;
    overflow: hidden;
}
.app-content .example{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
    margin-top: 20px;
}
#codeTabs li.active a{
    background: #f5f5f5;
}
#codeTabPabels pre{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.app-footer{
    min-height: 40px;
    background: #222;
    padding-top: 12px;
    color: #ccc;
    padding-left: 100px;
}
.fade-in-left.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fade-in-left.ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}
[ui-view].ng-leave {
    display: none;
}
.label-function{
    background-color: #5bc0de;
}
.label-string{
    background-color: #337ab7;
}
.label-boolean{
    background-color: #f0ad4e;
}
.label-number{
    background-color: #5cb85c;
}
.label-array{
    background-color: #d9534f;
}
#codeTabPabels pre code{
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}
.app-main .a-link {
    color: #1022FF;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 1px dashed #F928F5;
}
.app-main a.a-link:hover {
    border-bottom: 1px solid #F928F5;
}
 .app-home .link-btn{
    background-color: #FFFFFF;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:visited{
    background-color: #FFFFFF;
    border-color: #F7E6D5;
    color: #1022FF;
    /*color: #1817AF;*/
}
.app-home .link-btn:hover{
    background-color: #F7E6D5;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:active{
    background-color: #F7E6D5;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:focus{
    background-color: #F7E6D5;
    color: #1022FF;
}
.table-display {
    width: 100%;
}
.app-wrapper {
    background: #fff;
    margin-left: -100px;
    margin-right: -100px;
    height: 100%;
    margin-top: 200px;
}
.app-home h1 {
    padding-bottom: 12px;
    margin-top: -25px;
    opacity: 0.9;
}
.app-home h2 {
    font-weight: 100;
    font-size: 22px;
    color: #333;
}
.padder-t-s {
    padding-top: 0px;
}
.text-gradient {
    display: inline-block;
    color: green;
    font-size: 4em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(249, 40, 245, 1)), to(rgba(16, 34, 227, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-aside li a:hover, .app-aside li a:focus{
    color: #F928F5;
    text-decoration: none;
}