<div ng-controller="listDemoCtrl">
    <div class="content wrapper listArea">
        <div class="searchRow">
            <div class="col-sm-12">
                <h2>{{scene.name}}</h2>
            </div>
        </div>

        <div class="searchRow listTable">
            <div class="col-sm-6">
                <uix-search-box ng-model="query.search" placeholder="输入xxx进行查询" show-btn=search.showButton></uix-search-box>
            </div>
            <div class="col-sm-6">
                <label ng-click="isCollapse = !isCollapse">
                    高级查询
                    <span class="glyphicon glyphicon-chevron-down" ng-if="!isCollapse"></span>
                    <span class="glyphicon glyphicon-chevron-up" ng-if="isCollapse"></span>
                </label>
            </div>
        </div>
        <div ng-if="isCollapse">
            <div class="searchRow">
                <div class="col-sm-6">
                    <label class="pull-left">
                        时间
                    </label>
                    <div class="col-sm-5">
                        <uix-datepicker size="{{'sm'}}" ng-model="query.startTime" show-time="false" format="'yyyy-MM-dd'"></uix-datepicker>
                    </div>
                    <div class="pull-left">-</div>
                    <div class="col-sm-5">
                        <uix-datepicker size="{{'sm'}}" ng-model="query.endTime" show-time="false" format="'yyyy-MM-dd'"></uix-datepicker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="pull-left">金融机构</label>
                    <div class="col-sm-6">
                        <uix-select ng-model="query.select" ng-change="query.search=query.select">
                            <uix-select-match placeholder="请选择品牌">{{$select.selected}}</uix-select-match>
                            <uix-select-choices repeat="item in componyList | filter:$select.search">
                                <span>{{item}}</span>
                            </uix-select-choices>
                        </uix-select>
                    </div>
                </div>
            </div>
            <div class="searchRow">
                <div class="col-sm-6">
                    <label class="pull-left">
                        名称
                    </label>
                    <div class="col-sm-2">
                        <uix-switch ng-model="query.switch1"></uix-switch>
                    </div>
                    <label class="pull-left">
                        名称
                    </label>
                    <div class="col-sm-2">
                        <uix-switch ng-model="query.switch2" type="primary"></uix-switch>
                    </div>
                    <label class="pull-left">
                        名称
                    </label>
                    <div class="col-sm-2">
                        <uix-switch ng-model="query.switch3" type="success"></uix-switch>
                    </div>
                </div>
                <div class="col-sm-6">
                    <uix-button text="'提交'" btnClass="'primary'"></uix-button>
                    <uix-button text="'重置'" btnClass="'default'" click="defaultButton()"></uix-button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>金额</th>
                    <th>金融机构</th>
                    <th>申请人</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dataList|filter:query.search" >
                    <td>{{item.title}}</td>
                    <td>{{item.money}}</td>
                    <td>{{item.agent}}</td>
                    <td>{{item.person}}</td>
                    <td>{{item.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-right">
                <uix-pager page-no="pages.pageNo" total-items="pages.totalCount" items-per-page="pages.pageSize" page-changed="getPage"></uix-pager>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var tabs = $('#codeTabs > li'),
            tabPanels = $('.tab-pane');
        tabs.on('click',function (e) {
            e.preventDefault();
            tabs.removeClass('active');
            $(this).addClass('active');
            var id = $(this).data('tab');
            tabPanels.removeClass('active');
            $('#'+id).addClass('active');
        });
    });
</script></div>