<div>
    <div class="cur" ng-click="clickFn(this)">
        <input type="checkbox" ng-model="selected" ng-change="checkFn(selected)" ng-click="preventClick($event)" ng-show="checkable"/>
        <span ng-if="node.children && node.children.length > 0" ng-click="toggleCollapsed($event, this)">
            <i class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed&&showIcon, 'glyphicon-folder-open': !collapsed&&showIcon}" ></i>
        </span>
        <span ng-if="!node.children || node.children.length == 0" ng-click="preventClick($event)">
            <i class="glyphicon glyphicon-file" ng-show="showIcon"></i>
        </span>
        {{node.label}}
        <span ng-show="editable">
            <span class="btn btn-xs m-10-neg" ng-click="add($event, this)">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="btn btn-xs m-10-neg" ng-click="delete($event, this)">
                <i class="glyphicon glyphicon-trash"></i>
            </span>
             <span class="btn btn-xs" ng-click="edit($event, this)">
                <i class="glyphicon glyphicon-edit"></i>
            </span>
        </span>
    </div>
    <ol ng-show="!collapsed">
    </ol>
</div>