
<li ui-sref-active="active" title="alert"><a ui-sref="app.api.alert">alert</a></li>

<li ui-sref-active="active" title="button"><a ui-sref="app.api.button">button</a></li>

<li ui-sref-active="active" title="buttonGroup"><a ui-sref="app.api.buttonGroup">buttonGroup</a></li>

<li ui-sref-active="active" title="dropdown"><a ui-sref="app.api.dropdown">dropdown</a></li>

<li ui-sref-active="active" title="pager"><a ui-sref="app.api.pager">pager</a></li>

<li ui-sref-active="active" title="searchBox"><a ui-sref="app.api.searchBox">searchBox</a></li>

<li ui-sref-active="active" title="switch"><a ui-sref="app.api.switch">switch</a></li>

<li ui-sref-active="active" title="tree"><a ui-sref="app.api.tree">tree</a></li>
