<div class="app-wrapper">
    <header class="app-home">
        <h1 class="text-gradient">UI XG</h1>
        <h2>基于<a href="http://getbootstrap.com/" class="a-link">Bootstrap</a>的<a href="https://angularjs.org/" class="a-link">Angular</a>组件库</h2>
        <p class="padder-t-s">
            <a target="_blank" href="http://github.com/xgfe/ui-xg" class="btn btn-outline-inverse btn-lg link-btn">Code on Github</a>
            <button type="button" class="btn btn-outline-inverse btn-lg link-btn">
                <i class="glyphicon glyphicon-download-alt"></i> Download
            </button>
            <!--<button type="button" class="btn btn-outline-inverse btn-lg">
                <i class="glyphicon glyphicon-wrench"></i>  Create a Build
            </button>-->
        </p>
    </header>
    
    <div class="container">
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.collapse">
                        <img class="img-thumbnail" src="images/collapse.gif" alt="collapse">
                    </a>
                    <div>
                        <a ui-sref="app.api.collapse">collapse</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.accordion">
                        <img class="img-thumbnail" src="images/accordion.gif" alt="accordion">
                    </a>
                    <div>
                        <a ui-sref="app.api.accordion">accordion</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.alert">
                        <img class="img-thumbnail" src="images/alert.png" alt="alert">
                    </a>
                    <div>
                        <a ui-sref="app.api.alert">alert</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.button">
                        <img class="img-thumbnail" src="images/button.png" alt="button">
                    </a>
                    <div>
                        <a ui-sref="app.api.button">button</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.buttonGroup">
                        <img class="img-thumbnail" src="images/buttonGroup.png" alt="buttonGroup">
                    </a>
                    <div>
                        <a ui-sref="app.api.buttonGroup">buttonGroup</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.timepanel">
                        <img class="img-thumbnail" src="images/timepanel.gif" alt="timepanel">
                    </a>
                    <div>
                        <a ui-sref="app.api.timepanel">timepanel</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.calendar">
                        <img class="img-thumbnail" src="images/calendar.gif" alt="calendar">
                    </a>
                    <div>
                        <a ui-sref="app.api.calendar">calendar</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.carousel">
                        <img class="img-thumbnail" src="images/carousel.gif" alt="carousel">
                    </a>
                    <div>
                        <a ui-sref="app.api.carousel">carousel</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.position">
                        <img class="img-thumbnail" src="images/position.png" alt="position">
                    </a>
                    <div>
                        <a ui-sref="app.api.position">position</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.tooltip">
                        <img class="img-thumbnail" src="images/tooltip.gif" alt="tooltip">
                    </a>
                    <div>
                        <a ui-sref="app.api.tooltip">tooltip</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.popover">
                        <img class="img-thumbnail" src="images/popover.gif" alt="popover">
                    </a>
                    <div>
                        <a ui-sref="app.api.popover">popover</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.dropdown">
                        <img class="img-thumbnail" src="images/dropdown.gif" alt="dropdown">
                    </a>
                    <div>
                        <a ui-sref="app.api.dropdown">dropdown</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.cityselect">
                        <img class="img-thumbnail" src="images/cityselect.gif" alt="cityselect">
                    </a>
                    <div>
                        <a ui-sref="app.api.cityselect">cityselect</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.datepicker">
                        <img class="img-thumbnail" src="images/datepicker.gif" alt="datepicker">
                    </a>
                    <div>
                        <a ui-sref="app.api.datepicker">datepicker</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.loader">
                        <img class="img-thumbnail" src="images/loader.gif" alt="loader">
                    </a>
                    <div>
                        <a ui-sref="app.api.loader">loader</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.modal">
                        <img class="img-thumbnail" src="images/modal.gif" alt="modal">
                    </a>
                    <div>
                        <a ui-sref="app.api.modal">modal</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.notify">
                        <img class="img-thumbnail" src="images/notify.gif" alt="notify">
                    </a>
                    <div>
                        <a ui-sref="app.api.notify">notify</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.pager">
                        <img class="img-thumbnail" src="images/pager.png" alt="pager">
                    </a>
                    <div>
                        <a ui-sref="app.api.pager">pager</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.progressbar">
                        <img class="img-thumbnail" src="images/progressbar.png" alt="progressbar">
                    </a>
                    <div>
                        <a ui-sref="app.api.progressbar">progressbar</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.rate">
                        <img class="img-thumbnail" src="images/rate.gif" alt="rate">
                    </a>
                    <div>
                        <a ui-sref="app.api.rate">rate</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.searchBox">
                        <img class="img-thumbnail" src="images/searchBox.gif" alt="searchBox">
                    </a>
                    <div>
                        <a ui-sref="app.api.searchBox">searchBox</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.select">
                        <img class="img-thumbnail" src="images/select.gif" alt="select">
                    </a>
                    <div>
                        <a ui-sref="app.api.select">select</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.sortable">
                        <img class="img-thumbnail" src="images/sortable.gif" alt="sortable">
                    </a>
                    <div>
                        <a ui-sref="app.api.sortable">sortable</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.switch">
                        <img class="img-thumbnail" src="images/switch.png" alt="switch">
                    </a>
                    <div>
                        <a ui-sref="app.api.switch">switch</a>
                    </div>
                </div>
                
            </div>
        
            <div class="row">
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.tableLoader">
                        <img class="img-thumbnail" src="images/tableLoader.gif" alt="tableLoader">
                    </a>
                    <div>
                        <a ui-sref="app.api.tableLoader">tableLoader</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.tabs">
                        <img class="img-thumbnail" src="images/tabs.gif" alt="tabs">
                    </a>
                    <div>
                        <a ui-sref="app.api.tabs">tabs</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.timepicker">
                        <img class="img-thumbnail" src="images/timepicker.gif" alt="timepicker">
                    </a>
                    <div>
                        <a ui-sref="app.api.timepicker">timepicker</a>
                    </div>
                </div>
                
                <div class="col-md-3 component-image">
                    <a ui-sref="app.api.typeahead">
                        <img class="img-thumbnail" src="images/typeahead.gif" alt="typeahead">
                    </a>
                    <div>
                        <a ui-sref="app.api.typeahead">typeahead</a>
                    </div>
                </div>
                
            </div>
        
    </div>
    
</div>
