<div class="w-400">
    <div class="cur" ng-click="clickFn(this)">
        <input type="checkbox" ng-model="selected" ng-change="checkFn(selected, this)" ng-click="preventClick($event)">
        <span ng-if="node.nodes && node.nodes.length > 0">
            <i class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed, 'glyphicon-folder-open': !collapsed}"></i>
        </span>
        <span ng-if="!node.nodes || node.nodes.length == 0">
            <i class="glyphicon  glyphicon-file"></i>
        </span>
        {{node.text}}
        <span class="btn btn-xs p-30 m-10-neg"  ng-click="add($event, this)">
            <i class="glyphicon glyphicon-plus"></i>
        </span>
        <span class="btn btn-xs"  ng-click="delete($event, this)">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
    </div>
    <ol ng-show="!collapsed"></ol>
</div>