{
  "env":{
    "browser": true
  },
  "globals": {
    "angular": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-cond-assign":[2],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-debugger":[2],
    "no-dupe-args":[2],
    "no-dupe-keys":[2],
    "no-empty-character-class":[2],
    "no-extra-boolean-cast":[2],
    "no-extra-parens":[2],
    "no-extra-semi": [2],
    "no-func-assign":[2],
    "no-inner-declarations": [2, "both"],
    "no-invalid-regexp":[2],
    "no-irregular-whitespace":[2],
    "no-negated-in-lhs":[2],
    "no-obj-calls":[2],
    "no-regex-spaces":[2],
    "no-sparse-arrays":[2],
    "no-unexpected-multiline":[2],
    "no-unreachable":[2],
    "use-isnan":[2],
    "valid-typeof":[2],
    "block-scoped-var":[2],
    "curly":[2],
    "dot-location": [2, "property"],
    "no-alert":[2],
    "no-eval":[2],
    "no-fallthrough":[2],
    "no-floating-decimal":[2],
    "no-implied-eval":[2],
    "no-lone-blocks":[2],
    "no-loop-func":[2],
    "no-multi-str":[2],
    "no-new-func":[2],
    "no-octal":[2],
    "no-return-assign":[2],
    "no-self-compare":[2],
    "no-sequences":[2],
    "no-unused-expressions":[2],
    "no-delete-var":[2],
    "no-undef":[2],
    "no-undefined":[2],
    "no-unused-vars":[2],
    "no-use-before-define":[2,"nofunc"]
  }
}
