{
  "extends": "eslint:recommended",
  "env":{
    "browser": true,
    "jasmine":true,
    "node":true
  },
  "globals": {
    "angular": true,
    "inject": true,
    "jQuery":true,
    "$":true
  },
  "rules": {
    "no-func-assign":0,
    "no-unexpected-multiline":2,
    "block-scoped-var":2,
    "curly":2,
    "dot-location": [2, "property"],
    "no-alert":[2],
    "no-eval":[2],
    "no-floating-decimal":[2],
    "no-implied-eval":[2],
    "no-lone-blocks":[2],
    "no-loop-func":[2],
    "no-multi-str":[2],
    "no-new-func":[2],
    "no-return-assign":[2],
    "no-self-compare":[2],
    "no-sequences":[2],
    "no-unused-expressions":[2],
    "no-delete-var":[2],
    "no-undefined":[2],
    "no-unused-vars":[2],
    "no-use-before-define":[2,"nofunc"]
  }
}
