.cityContainer {
  max-height: 280px;
  overflow-y: scroll;
}
.cityContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popover{
	max-width: 581px;
}
.test {
	width: 581px!important;
}
.cityselected {
  float: left;
  padding: 0 4px;
  font-size: 12px;
  background: #fafafa;
  border: 1px solid #d2d2d2;
  height: 24px;
  line-height: 24px;
  margin: 5px 8px 5px 0;
  cursor: pointer;
}
.seeChosedCity{
  color: #3498db;
  cursor: pointer;
}
.cityselected:hover{
  background-color: #3498db;
  color: white;
}
.initheight{
  height: 0px;
  overflow-y: hidden;
}
.chosecity{
  background-color: rgba(52, 152, 219, 0.4);
}
.chosecity a{
  color: rgb(255, 255, 255)!important;
}
.searchList{
  max-width:170px;
  max-height:270px;
  overflow-y: scroll;
}
.showHot{
  margin-top:10px;
  margin-bottom: 10px;
}
.showHot button {
  margin-right: 5px;
  overflow-y:hidden;
}
.showHot i {
  border-right-width:0px;
}
.cityButton {
  margin-right: 5px;
  margin-top: 5px;
}
.haveChosed {
  padding-bottom:0px;
}
@-webkit-keyframes cityBarIn {
  0% {
    height: 0px;
  }
  100% {
    height: 340px;
  }
}

@-webkit-keyframes cityBarOut {
  0% {
    height: 340px;
  }
  100% {
    height: 0px;
  }
}
.cityBarOpen {
  -webkit-animation: cityBarIn 0.75s forwards;
  -moz-animation: cityBarIn 0.75s forwards;
  animation: cityBarIn 0.75s forwards;
  overflow-y: hidden;
}
.cityBarClose {
  -webkit-animation: cityBarOut 0.75s forwards;
  -moz-animation: cityBarOut 0.75s forwards;
  animation: cityBarOut 0.75s forwards;
  overflow-y: hidden;
}
.tab-container .tab-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dee5e7;
  border-top-width: 0;
  border-radius: 0 0 2px 2px;
  height: 300px;
  overflow-y: scroll;
}
.wrapper-xs {
  padding: 5px;
}
.b-a {
  border: 1px solid #dee5e7;
}
.dropdown-menu{
  max-height: 280px;
  overflow-y: scroll;


}
.dropdown-menu li a{
  max-width: 170px;
  overflow-x:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  cursor: pointer;
}
