.uix-cityselect-container {
  max-height: 280px;
  overflow-y: scroll;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .uix-cityselect-cityselected {
      float: left;
      padding: 0 4px;
      font-size: 12px;
      background: #fafafa;
      border: 1px solid #d2d2d2;
      height: 24px;
      line-height: 24px;
      margin: 5px 8px 5px 0;
      cursor: pointer;
      :hover {
        background-color: #3498db;
        color: white;
      }
    }
  }
}

.uix-cityselect-popoverwidth{
	max-width: 581px;
}

.uix-cityselect-seeChosedCity{
  color: #3498db;
  cursor: pointer;
}

.uix-cityselect-initheight{
  height: 0px;
  overflow-y: hidden;
}
.uix-cityselect-chosecity{
  background-color: rgba(52, 152, 219, 0.4);
  a {
    color: rgb(255, 255, 255)!important;
  }
}

.uix-cityselect-searchList{
  max-width:170px;
  max-height:270px;
  overflow-y: scroll;
}
.uix-cityselect-showHot{
  margin-top:10px;
  margin-bottom: 10px;
  button {
    margin-right: 5px;
    overflow-y:hidden;
    i {
      border-right-width:0px;
    }
  }
}

.uix-cityselect-cityButton {
  margin-right: 5px;
  margin-top: 5px;
}
.uix-cityselect-haveChosed {
  padding-bottom:0px;
}
@-webkit-keyframes uixCityselectBarIn {
  0% {
    height: 0px;
  }
  100% {
    height: 340px;
  }
}

@-webkit-keyframes uixCityselectBarOut {
  0% {
    height: 340px;
  }
  100% {
    height: 0px;
  }
}
.uixCityselectCityBarOpen {
  -webkit-animation: uixCityselectBarIn 0.75s forwards;
  -moz-animation: uixCityselectBarIn 0.75s forwards;
  animation: uixCityselectBarIn 0.75s forwards;
  overflow-y: hidden;
}
.uixCityselectCityBarClose {
  -webkit-animation: uixCityselectBarOut 0.75s forwards;
  -moz-animation: uixCityselectBarOut 0.75s forwards;
  animation: uixCityselectBarOut 0.75s forwards;
  overflow-y: hidden;
}
.uix-cityselect-tab-container {
    .uix-cityselect-tab-content {
      padding: 15px;
      background-color: #fff;
      border: 1px solid #dee5e7;
      border-top-width: 0;
      border-radius: 0 0 2px 2px;
      height: 300px;
      overflow-y: scroll;
    }
}
.uix-cityselect-padding5 {
  padding: 5px;
}
.uix-cityselect-border1 {
  border: 1px solid #dee5e7;
}
.uix-cityselect-dropdown-menu{
  max-height: 280px;
  overflow-y: scroll;
  li a{
    max-width: 170px;
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: pointer;
  }
}

