<!DOCTYPE html>
<html lang="en" ng-app="fuguTimepanel">
<head>
    <meta charset="UTF-8">
    <title>fugu-dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./timepanel.css"/>
</head>
<body ng-controller="timepanelCtrl">

<fugu-timepanel ng-model="time" on-change="changed"></fugu-timepanel>
<pre>
    {{time | date:'shortTime'}}
</pre>
<button class="btn btn-default" ng-click="setNow()">Now</button>
<button class="btn btn-info" ng-click="set1030()">10:30</button>


<script src="../../lib/angular/angular.min.js"></script>
<script src="timepanel.js"></script>
<script>
    var app = angular.module('fuguTimepanel',['ui.fugu.timepanel']);
    app.controller('timepanelCtrl',['$scope', function ($scope) {
        var dt = new Date();
//        dt.setHours(10)
        $scope.time = dt;
        $scope.changed = function (obj) {
//            console.log($scope.time)
        };
        $scope.setNow = function () {
            var dt = new Date();
            var date = angular.copy($scope.time);
            date.setHours(dt.getHours());
            date.setMinutes(dt.getMinutes());
            date.setSeconds(dt.getSeconds());
            $scope.time = date;
        };
        $scope.set1030 = function () {
            var date = angular.copy($scope.time);
            date.setHours(10);
            date.setMinutes(30);
            date.setSeconds(0);
            $scope.time = date;
        };
    }]);
</script>
</body>
</html>
