.uix-timepanel {
  display: inline-block;
  border-radius: 3px;
  color: #666;
  cursor: default;
  border: 1px solid #ddd;
  background-color: #fff;
  white-space: normal;
  -webkit-appearance: none;
  padding: 5px 8px;
  box-sizing: content-box;
  min-width: 150px; }
  .uix-timepanel .uix-timepanel-col {
    width: 50px;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 4px;
    box-sizing: border-box; }
  .uix-timepanel .uix-timepanel-top,
  .uix-timepanel .uix-timepanel-middle,
  .uix-timepanel .uix-timepanel-bottom {
    padding: 5px 10px;
    cursor: pointer;
    position: relative; }
  .uix-timepanel .uix-timepanel-input {
    width: 100%;
    border: none;
    outline: none;
    float: left;
    position: relative;
    text-align: center; }
  .uix-timepanel .uix-timepanel-top,
  .uix-timepanel .uix-timepanel-bottom {
    color: #bbb;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .uix-timepanel .uix-timepanel-top {
    border-bottom: 2px solid #1cafdb; }
  .uix-timepanel .uix-timepanel-bottom {
    border-top: 2px solid #1cafdb; }
  .uix-timepanel .uix-timepanel-label {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px; }
