<ul class="pagination">
    <li ng-if="boundaryLinks" ng-class="{disabled: isFirst()}">
        <a href="javascript:;" ng-click="selectPage(1)">{{getText('first')}}</a>
    </li>
    <li ng-if="directionLinks" ng-class="{disabled: isFirst()}">
        <a href="javascript:;" ng-click="selectPage(page - 1)">{{getText('previous')}}</a>
    </li>
    <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
        <a href="javascript:;" ng-click="selectPage(page.number)">{{page.text}}</a>
    </li>
    <li ng-if="directionLinks" ng-class="{disabled: isLast()}">
        <a href="javascript:;" ng-click="selectPage(page + 1)">{{getText('next')}}</a>
    </li>
    <li ng-if="boundaryLinks" ng-class="{disabled: isLast()}">
        <a href="javascript:;" ng-click="selectPage(totalPages)">{{getText('last')}}</a>
    </li>
    <li ng-if="showTotal" class="disabled">
        <a href="javascript:;">共{{totalPages}}页/{{totalItems}}条</a>
    </li>
</ul>