.uix-table-loader {
  word-wrap: break-word;
  position: relative; }
  .uix-table-loader .loading {
    position: relative;
    width: 100%;
    min-height: 200px; }
  .uix-table-loader .loading-icon {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -15px; }
  .uix-table-loader .error-tip {
    position: relative;
    min-height: 200px; }
  .uix-table-loader .error-text {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -30px; }
