.uix-datepicker {
  position: relative; }
  .uix-datepicker button:focus {
    outline: 0; }
  .uix-datepicker .uix-datepicker-input {
    cursor: pointer;
    background: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
  .uix-datepicker .uix-datepicker-input.disabled,
  .uix-datepicker .uix-datepicker-input[disabled] {
    cursor: not-allowed; }
  .uix-datepicker .uix-datepicker-remove {
    border-radius: 0;
    border-left: 0; }
  .uix-datepicker .popover-content {
    padding: 0; }
  .uix-datepicker .uix-calendar {
    border: 0; }
