$arrow-right:9px;
$arrow-top:-6px;
$inpu-height:30px;
.fugu-datepicker{
    position: relative;
    display: inline-block;
    button:focus{
        outline:0;
    }
    .fugu-datepicker-remove{
        border-radius: 0;
        border-left: 0;
    }
}
.fugu-datepicker ~ .fugu-datepicker-popover.in{
    display: block;
    .fugu-calendar{
        border:0;
    }
}