.fugu-datepicker {
  position: relative;
  display: inline-block; }
  .fugu-datepicker .fugu-calendar {
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 1000;
    overflow: visible; }
    .fugu-datepicker .fugu-calendar:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      border-bottom: 7px solid #ddd; }
    .fugu-datepicker .fugu-calendar:after {
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      display: inline-block;
      border-bottom: 6px solid #fff; }
  .fugu-datepicker .fugu-datepicker-cal-bottom:before {
    right: 9px;
    top: -7px; }
  .fugu-datepicker .fugu-datepicker-cal-bottom:after {
    top: -6px;
    right: 10px; }
  .fugu-datepicker button:focus {
    outline: 0; }
  .fugu-datepicker .fugu-datepicker-remove {
    border-radius: 0;
    border-left: 0; }
