$arrow-right:9px;
$arrow-top:-6px;
$inpu-height:30px;
.fugu-datepicker{
    position: relative;
    display: inline-block;

    .popover.in{
        display: block;
    }
    .fugu-calendar{
        border:0;
        //position: absolute;
        //z-index: 1000;
        //overflow: visible;
        //&:before{
        //    content: "";
        //    display: inline-block;
        //    position: absolute;
        //    border-left: - $arrow-top + 1 solid rgba(0, 0, 0, 0);
        //    border-right: - $arrow-top + 1 solid rgba(0, 0, 0, 0);
        //}
        //&:after{
        //    position: absolute;
        //    content: "";
        //    display: inline-block;
        //    border-left: - $arrow-top solid rgba(0, 0, 0, 0);
        //    border-right: - $arrow-top solid rgba(0, 0, 0, 0);
        //}
    }
    //.fugu-datepicker-cal-left{
    //    right:0;
    //    &:before{
    //        right: $arrow-right;
    //    }
    //    &:after{
    //        right: $arrow-right + 1;
    //    }
    //}
    //.fugu-datepicker-cal-right{
    //    left:0;
    //    &:before{
    //        left: $arrow-right;
    //    }
    //    &:after{
    //        left: $arrow-right + 1;
    //    }
    //}
    //.fugu-datepicker-cal-top{
    //    bottom:$inpu-height - $arrow-top + 1;
    //    &:before{
    //        bottom: $arrow-top - 1;
    //        border-top: - $arrow-top + 1 solid #ddd;
    //    }
    //    &:after{
    //        bottom: $arrow-top;
    //        border-top: - $arrow-top solid #fff;
    //    }
    //}
    //.fugu-datepicker-cal-bottom{
    //    top:$inpu-height - $arrow-top + 1;
    //    &:before{
    //        top: $arrow-top - 1;
    //        border-bottom: - $arrow-top + 1 solid #ddd;
    //    }
    //    &:after{
    //        top: $arrow-top;
    //        border-bottom: - $arrow-top solid #fff;
    //    }
    //}

    button:focus{
        outline:0;
    }
    .fugu-datepicker-remove{
        border-radius: 0;
        border-left: 0;
    }
}