<div class="uix-select-match" ng-hide="$select.open" ng-disabled="$select.disabled" ng-class="{'uix-select-focus':$select.focus}">
  <span tabindex="-1"
      class="btn btn-default form-control uix-select-toggle"
      aria-label="{{ $select.baseTitle }} activate"
      ng-disabled="$select.disabled"
      ng-click="$select.activate()">
    <span ng-show="$select.isEmpty()" class="uix-select-placeholder text-muted">{{$select.placeholder}}</span>
    <span ng-hide="$select.isEmpty()" class="uix-select-match-text pull-left" ng-class="{'uix-select-allow-clear': $select.allowClear && !$select.isEmpty()}" ng-transclude=""></span>
    <i class="caret pull-right" ng-click="$select.toggle($event)"></i>
    <a ng-if="$select.allowClear && !$select.isEmpty()" aria-label="{{ $select.baseTitle }} clear"
      ng-click="$select.clear($event)" class="uix-select-allowclear btn btn-xs btn-link pull-right">
      <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </a>
  </span>
</div>
