<div class="uix-select-container uix-select-multiple uix-select dropdown form-control" ng-class="{open: $select.open}">
  <div>
    <div class="uix-select-match"></div>
    <input type="text"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           class="uix-select-search input-xs"
           placeholder="{{$selectMultiple.getPlaceholder()}}"
           ng-disabled="$select.disabled"
           ng-hide="$select.disabled"
           ng-click="$select.activate()"
           ng-model="$select.search"
           role="combobox"
           aria-label="{{ $select.baseTitle }}"
           ondrop="return false;">
  </div>
  <div class="uix-select-choices"></div>
</div>
