<div class="uix-select-container uix-select dropdown" ng-class="{open: $select.open}">
  <div class="uix-select-match"></div>
  <input type="text" autocomplete="off" tabindex="-1"
         aria-expanded="true"
         aria-label="{{ $select.baseTitle }}"
         class="form-control uix-select-search input-sm"
         placeholder="{{$select.placeholder}}"
         ng-model="$select.search"
         ng-show="$select.searchEnabled && $select.open">
  <div class="uix-select-choices"></div>
</div>
