/*!
 fugu-dropdown.css
 Version: 0.0.1
 Author: yangjiyuan@meituan.com
 */
.fugu-dropdown {
  position: relative;
  display: inline-block; }
  .fugu-dropdown button:focus,
  .fugu-dropdown button:active {
    outline: none; }
  .fugu-dropdown > .fugu-dropdown-menu {
    z-index: 1010;
    margin: 2px 0 30px;
    position: absolute;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .fugu-dropdown > .fugu-dropdown-menu li {
      float: left;
      border-right: 1px solid #eaeff0;
      padding-right: 10px;
      padding-left: 10px;
      max-width: 160px; }
    .fugu-dropdown > .fugu-dropdown-menu a {
      text-decoration: none;
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: block;
      padding: 3px 0;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap; }
      .fugu-dropdown > .fugu-dropdown-menu a:hover {
        background: #ddd; }
  .fugu-dropdown > .dropdown-menu-bottom {
    top: 100%; }
  .fugu-dropdown > .dropdown-menu-top {
    bottom: 2px; }

.fugu-dropdown.open .fugu-dropdown-menu {
  display: block; }

@media screen and (max-width: 767px) {
  .fugu-dropdown > .dropdown-menu {
    width: 250px; }
    .fugu-dropdown > .dropdown-menu li {
      width: 50%; }
  .fugu-dropdown.open {
    width: 100%; } }
