.dropdown-multi > .dropdown-menu > li {
  float: left; }

.dropdown-multi > .dropdown-menu > li:not(.divider) {
  border-right: 1px solid #eaeff0;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 160px; }

.dropdown-multi > .dropdown-menu > li > a {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 3px 0; }

.dropdown.open .dropdown-menu {
  display: block; }

@media screen and (max-width: 767px) {
  .dropdown-multi > .dropdown-menu {
    width: 250px !important; }
    .dropdown-multi > .dropdown-menu li:not(.divider) {
      width: 50% !important; }
  .dropdown.open {
    width: 100%; } }
