/*!
 fugu-dropdown.css
 Version: 0.0.1
 Author: yangjiyuan@meituan.com
 */
.fugu-dropdown {
  position: relative;
  display: inline-block; }
  .fugu-dropdown button:focus,
  .fugu-dropdown button:active {
    outline: none; }
  .fugu-dropdown > .fugu-dropdown-menu > li {
    border-right: 1px solid #eaeff0;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 160px; }
  .fugu-dropdown > .fugu-dropdown-menu > li > a {
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 3px 0; }
    .fugu-dropdown > .fugu-dropdown-menu > li > a:hover {
      background: #ddd; }

.fugu-dropdown-multi .fugu-dropdown-menu > li {
  float: left; }

.fugu-dropdown.open .fugu-dropdown-menu {
  display: block; }

@media screen and (max-width: 767px) {
  .fugu-dropdown-multi > .fugu-dropdown-menu {
    width: 250px !important; }
    .fugu-dropdown-multi > .fugu-dropdown-menu li {
      width: 50% !important; }
  .fugu-dropdown.open {
    width: 100%; } }
