/*!
 fugu-tooltip.scss
 Version: 0.0.1
 Author: heqingyang@meituan.com
 */
.fugu-tooltip {
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  display: none;
  line-break: auto; }
  .fugu-tooltip.in {
    display: block; }
  .fugu-tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px; }
    .fugu-tooltip.bottom .tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #000; }
  .fugu-tooltip.top {
    padding: 5px 0;
    margin-top: -3px; }
    .fugu-tooltip.top .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000; }
  .fugu-tooltip.left {
    padding: 0 5px;
    margin-left: -3px; }
    .fugu-tooltip.left .tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: #000; }
  .fugu-tooltip.right {
    padding: 0 5px;
    margin-left: 3px; }
    .fugu-tooltip.right .tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: #000; }
  .fugu-tooltip .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px; }
  .fugu-tooltip .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
