.buttonGroup li {
    padding-bottom: 15px;
    list-style-type: none;
}
.buttonGroup li > p, .buttonGroup li > div {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 2px;
}
.buttonGroup li span {
    display: block;
    font-size: 12px;
}