html,body,#app{
    height: 100%;
}
.app-header .navbar-brand{
    width: 200px;
    text-align: center;
}
.navbar-nav{
    padding-left: 100px;
}
.app-home{
    padding: 50px 100px;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    color:  #666;
    background: linear-gradient(to top, #DDD 0%,rgba(225,225,225,0) 21%,rgba(235,235,235,0) 81%,#EEE 100%);
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #fff;
    text-align: center;
    padding-top:15px;
    padding-bottom: 20px;
    margin-top: -50px;
}
.app-home a{
    color: #1022FF;
    font-weight: normal;
}
.app-home .btn-outline-inverse{
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #337ab7;
    color: #337ab7;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active{
    color: #fff;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #337ab7;
}
.app-main{
    padding: 50px 100px 0;
    min-height: 100%;
    font-size: 16px;
}
.app-aside{
    float: left;
    width: 200px;
    background-color: #f8f8f8;
}
.app-aside > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-aside > ul > li{
    height: 40px;
    line-height: 40px;
}
.app-aside li a{
    display: block;
    padding: 0 5px 0 30px;
    text-decoration: none;
    color: #1022FF;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.app-aside li.active > a{
    background-color: #fff;
    color: #F928F5;
    border-left: 3px solid #F928F5;
}
aside.app-aside:before{
    content: "";
    position: fixed;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border: inherit;
}
.app-content{
    padding:8px 40px 40px;
    margin-left: 200px;
    overflow: hidden;
}
.app-content .example{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}
#codeTabs li.active a{
    background: #f5f5f5;
}
#codeTabPabels pre{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.app-footer{
    min-height: 40px;
    background: #222;
    padding-top: 12px;
    color: #ccc;
    padding-left: 100px;
}
.fade-in-left.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fade-in-left.ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}
[ui-view].ng-leave {
    display: none;
}
.label-function{
    background-color: #5bc0de;
}
.label-string{
    background-color: #337ab7;
}
.label-boolean{
    background-color: #f0ad4e;
}
.label-number{
    background-color: #5cb85c;
}
.label-array{
    background-color: #d9534f;
}
#codeTabPabels pre code{
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}
.app-main .a-link {
    color: #1022FF;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 1px dashed #F928F5;
}
.app-main a.a-link:hover {
    border-bottom: 1px solid #F928F5;
}
 .app-home .link-btn{
    background-color: #FFFFFF;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:visited{
    background-color: #FFFFFF;
    border-color: #F7E6D5;
    color: #1022FF;
    /*color: #1817AF;*/
}
.app-home .link-btn:hover{
    background-color: #F7E6D5;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:active{
    background-color: #F7E6D5;
    border-color: #F7E6D5;
    color: #1022FF;
}
.app-home .link-btn:focus{
    background-color: #F7E6D5;
    color: #1022FF;
}
.table-display {
    width: 100%;
}
.app-wrapper {
    background: #fff;
    margin-left: -100px;
    margin-right: -100px;
    height: 100%;
    margin-top: 200px;
}
.app-home h1 {
    padding-bottom: 12px;
    margin-top: -25px;
    opacity: 0.9;
}
.app-home h2 {
    font-weight: 100;
    font-size: 22px;
    color: #333;
}
.padder-t-s {
    padding-top: 0;
}
.text-gradient {
    display: inline-block;
    color: green;
    font-size: 4em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(249, 40, 245, 1)), to(rgba(16, 34, 227, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-aside li a:hover, .app-aside li a:focus{
    color: #F928F5;
    text-decoration: none;
}
.app-overflow-hidden {
    overflow: hidden;
}
.content-equal-height {
    margin-bottom: -3000px;
    padding-bottom: 3000px;
}