html,body,#app{
    height: 100%;
}
.app-header .navbar-brand{
    width: 200px;
    text-align: center;
}
.navbar-nav{
    padding-left: 100px;
}
.app-home{
    padding: 50px 100px;
    font-size: 30px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    color:  #666;
    background: linear-gradient(to top, #DDD 0%,rgba(225,225,225,0) 21%,rgba(235,235,235,0) 81%,#EEE 100%);
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.app-home h1{
    font-size: 90px;
    font-weight: 500;
    text-shadow: 0 5px 2px rgba(0,0,0,.15);
}
.app-home a{
    color: #337ab7;
    font-weight: normal;
}
.app-home .btn-outline-inverse{
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #337ab7;
    color: #337ab7;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active{
    color: #fff;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #337ab7;
}
.app-main{
    padding: 50px 100px 0;
    min-height: 100%;
    font-size: 16px;
}
.app-aside{
    float: left;
    width: 200px;
    background-color: #f8f8f8;
}
.app-aside > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-aside > ul > li{
    height: 40px;
    line-height: 40px;
}
.app-aside li a{
    display: block;
    padding: 0 5px 0 30px;
    text-decoration: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.app-aside li.active > a{
    background-color: #fff;
    color: #24a0e3;
    border-left: 3px solid #24a0e3;
}
aside.app-aside:before{
    content: "";
    position: fixed;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border: inherit;
}
.app-content{
    padding:8px 40px 40px;
    margin-left: 200px;
    overflow: hidden;
}
.app-content .example{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
    margin-top: 20px;
}
#codeTabs li.active a{
    background: #f5f5f5;
}
#codeTabPabels pre{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.app-footer{
    height: 80px;
    background: #555;
    padding-top: 12px;
    color: #ccc;
    padding-left: 100px;
}
.fade-in-left.ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fade-in-left.ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}
[ui-view].ng-leave {
    display: none;
}
.label-function{
    background-color: #5bc0de;
}
.label-string{
    background-color: #337ab7;
}
.label-boolean{
    background-color: #f0ad4e;
}
.label-number{
    background-color: #5cb85c;
}
.label-array{
    background-color: #d9534f;
}
#codeTabPabels pre code{
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}