.notice-item {
  width: 250px; }

.notice-container {
  width: 260px;
  padding: 5px;
  padding-bottom: 0;
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: transparent;
  max-height: 100%;
  overflow-y: scroll;
}