.uix-calendar {
  display: inline-block;
  border-radius: 3px;
  color: #666;
  cursor: default;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
  white-space: normal;
  -webkit-appearance: none; }
  .uix-calendar .uix-cal-month {
    line-height: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    height: 22px;
    position: relative;
    padding-top: 17px;
    padding-bottom: 5px;
    box-sizing: content-box; }
  .uix-calendar .uix-cal-month-name {
    font-size: 15px;
    font-weight: 400; }
  .uix-calendar .uix-cal-pre-button,
  .uix-calendar .uix-cal-next-button {
    cursor: pointer;
    position: absolute;
    top: 17px;
    width: 30px;
    height: 42px;
    background-position: 11.5px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .uix-calendar .uix-cal-pre-button {
    left: 17px; }
  .uix-calendar .uix-cal-next-button {
    right: 17px; }
  .uix-calendar .uix-cal-header {
    margin: 0 17px;
    height: auto;
    font-size: 14px;
    line-height: 1; }
    .uix-calendar .uix-cal-header > div {
      width: 32px;
      padding: 1px;
      float: left;
      text-align: center;
      height: 19px;
      color: #666;
      border-bottom: #cecece 1px solid;
      margin-bottom: 7px;
      overflow: hidden; }
  .uix-calendar .uix-cal-body {
    margin: 0 17px; }
  .uix-calendar .uix-cal-row {
    height: 24px;
    min-width: 231px;
    line-height: 24px;
    clear: both; }
    .uix-calendar .uix-cal-row > div {
      float: left;
      text-align: center;
      height: 100%;
      width: 32px; }
  .uix-calendar .uix-cal-day {
    margin: 1px 1px 0 0;
    cursor: pointer;
    font-size: 12px;
    color: #666;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .uix-calendar .uix-cal-day-today {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 6px; }
  .uix-calendar .uix-cal-weekday {
    color: #3498db;
    font-weight: 700; }
  .uix-calendar .uix-cal-day:hover,
  .uix-calendar .uix-cal-select {
    border: none;
    color: #fff;
    background: #27ae60;
    border-radius: 6px; }
  .uix-calendar .uix-cal-outside {
    font-weight: 400;
    color: #bbb; }
  .uix-calendar .uix-cal-day-disabled {
    cursor: not-allowed;
    color: #bbb; }
    .uix-calendar .uix-cal-day-disabled:hover {
      border: none;
      color: #bbb;
      background: none; }
  .uix-calendar .uix-cal-footer {
    text-align: center;
    font-size: 12px;
    color: #444;
    margin: 4px 17px;
    padding-top: 2px;
    cursor: pointer; }
  .uix-calendar .uix-cal-time {
    padding: 2px 4px; }
    .uix-calendar .uix-cal-time:hover {
      text-decoration: underline;
      color: #3498db; }
  .uix-calendar .uix-cal-today-btn {
    padding: 3px 0;
    font-size: 14px;
    font-weight: 700; }
    .uix-calendar .uix-cal-today-btn:hover {
      background: #eee;
      border-radius: 5px; }
  .uix-calendar .uix-cal-panel-time {
    padding: 10px 30px; }
    .uix-calendar .uix-cal-panel-time .btn-group {
      display: block; }
    .uix-calendar .uix-cal-panel-time button {
      outline: none;
      width: 33.333%; }
  .uix-calendar .uix-timepanel {
    border: none; }
  .uix-calendar .uix-cal-month-table {
    margin-bottom: 20px; }
  .uix-calendar .uix-cal-month-item {
    padding: 5px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    min-width: 60px; }
    .uix-calendar .uix-cal-month-item:hover {
      background: #74BCEC; }
  .uix-calendar .uix-cal-year-item {
    padding: 5px 20px; }
  .uix-calendar .uix-cal-month-select {
    background: #3498db;
    color: #fff; }
    .uix-calendar .uix-cal-month-select:hover {
      background: #3498db; }
