.fugu-calendar{
    //width: 259px;
    //height: 250px;
    display: inline-block;
    border-radius: 3px;
    color: #666;
    cursor: default;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #fff;
    white-space: normal;
    -webkit-appearance: none;
    .fugu-cal-month{
        line-height: 20px;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        height: 22px;
        position: relative;
        padding-top: 17px;
        padding-bottom: 5px;
        box-sizing: content-box;
    }
    .fugu-cal-month-name{
        font-size: 15px;
        font-weight: 400;
    }
    .fugu-cal-pre-button,
    .fugu-cal-next-button{
        cursor: pointer;
        position: absolute;
        top: 17px;
        width: 30px;
        height: 42px;
        background-position: 11.5px 4px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .fugu-cal-pre-button{
        left: 17px;
    }
    .fugu-cal-next-button{
        right: 17px;
    }
    .fugu-cal-header{
        margin: 0 17px;
        height: auto;
        font-size: 14px;
        line-height: 1;
        & > div{
            width: 32px;
            float: left;
            text-align: center;
            height: 19px;
            color: #666;
            border-bottom: #cecece 1px solid;
            margin-bottom: 7px;
        }
    }
    .fugu-cal-body{
        margin: 0 17px;
    }
    .fugu-cal-row{
        height: 24px;
        line-height: 24px;
        clear: both;
        & > div{
            float: left;
            text-align: center;
            height: 100%;
            width: 32px;
        }
    }
    .fugu-cal-day{
        margin: 1px 1px 0 0;
        cursor: pointer;
        font-size: 12px;
        color: #666;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .fugu-cal-day-today{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #3498db;
        border-radius: 6px;
    }
    .fugu-cal-weekday{
        color: #3498db;
        font-weight: 700;
    }
    .fugu-cal-day:hover,
    .fugu-cal-select{
        border:none;
        color: #fff;
        background: #27ae60;
        border-radius: 6px;
    }
    .fugu-cal-outside{
        font-weight: 400;
        color: #bbb;
    }
    .fugu-cal-day-disabled{
        cursor: not-allowed;
        color: #bbb;
        &:hover{
            border:none;
            color: #bbb;
            background: none;
        }
    }
    .fugu-cal-footer{
        text-align: center;
        font-size: 12px;
        color: #444;
        margin: 4px 17px;
        padding-top: 2px;
        cursor: pointer;
    }
    .fugu-cal-time{
        padding: 2px 4px;
        &:hover{
            text-decoration: underline;
            color: #3498db;
        }
    }
    .fugu-cal-today-btn{
        padding: 3px 0;
        font-size: 14px;
        font-weight: 700;
        &:hover{
            background: #eee;
            border-radius: 5px;
        }
    }
    .fugu-cal-panel-time{
        padding: 10px 30px;
        .btn-group{
            display: block;
        }
        button{
            outline: none;
            width: 33.333%;
        }
    }
    .fugu-timepanel{
        border:none;
    }
    .fugu-cal-month-table{
        margin-bottom:20px;
    }
    .fugu-cal-month-item{
        padding: 5px;
        border: 1px solid #ddd;
        margin: 2px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background: #74BCEC;
        }
    }
    .fugu-cal-year-item{
        padding:5px 20px;
    }
    .fugu-cal-month-select{
        background: #3498db;
        color: #fff;
        &:hover{
            background: #3498db;
        }
    }
}