<table
  class="uix-datatable-thead"
  cellspacing="0"
  cellpadding="0"
  border="0"
>
  <colgroup>
    <%cols%>
  </colgroup>
  <thead>
    <tr ng-repeat="(rowIndex, cols) in $table.allColumnRows track by rowIndex">
      <th
        ng-repeat="(colIndex, column) in cols track by colIndex"
        colspan="{{:: column.colSpan }}"
        rowspan="{{:: column.rowSpan }}"
        ng-class="$table.alignCls(column)"
      >
        <div ng-class="cellClasses(column)" ng-if="fixed!=='center'||!column.fixed"
         class="uix-datatable-cell">
          <div ng-if="column.__renderHeadType==='normal'">
            <span ng-click="$table.handleSortByHead(column)"
              >{{:: column.title || '#' }}
            </span>
          </div>
          <span ng-if="column.__renderHeadType === 'template'">
              <%template%>
          </span>
          <div ng-if="column.__renderHeadType==='format'">{{ ::column.headerFormat(column) }}</div>
          <span class="uix-datatable-sort" ng-if="column.sortable">
            <i
              class="glyphicon glyphicon-triangle-top"
              ng-class="{on: column._sortType === 'asc'}"
              ng-click="$table.handleSort(column, 'asc')"
            ></i>
            <i
              class="glyphicon glyphicon-triangle-bottom"
              ng-class="{on: column._sortType === 'desc'}"
              ng-click="$table.handleSort(column, 'desc')"
            ></i>
          </span>
        </div>
      </th>
    </tr>
  </thead>
</table>
