<table class="uix-datatable-tbody"
    ng-class="{'uix-datatable-striped':$table.isStriped,'uix-datatable-bordered':$table.isBordered}"
    ng-style="styles"
        cellspacing="0"
        cellpadding="0"
        border="0"
    >
        <colgroup>
            <col ng-repeat="(index, column) in columns" 
            width="{{ $table.setCellWidth(column) }}"></col>
        </colgroup>
        <tbody>
            <tr ng-repeat="(index, row) in $table.rebuildData"
             ng-class="[$table.rowClassName(index),$table.objData[index]._isHover?'uix-datatable-row-hover':'']"
             ng-style="{height: row._height+'px'}"
             ng-mouseenter="handleMouseIn($event,row._index)"
             ng-mouseleave="handleMouseOut($event,row._index)"
             ng-click="handleClickRow($event,row._index)"
            >
                <td ng-repeat="column in columns" ng-class="alignCls(column, row)">
                    <uix-datatable-cell 
                    row="row"
                    key="column._columnKey"
                    column="column"></uix-datatable-cell>
                </td>
            </tr>
        </tbody>
    </table>