<div
  class="uix-datatable"
  ng-class="{
    'uix-datatable-has-fixed': $table.isLeftFixed||$table.isRightFixed,
    'uix-datatable-bordered':$table.isBordered,
    'uix-datatable-striped':$table.isStriped
  }"
  ng-style="{height:$table.containerHeight}"
>
  <div class="uix-datatable-wrap">
    <!-- <div
    class="uix-datatable-fixed-right-header"
    ng-style="{height:$table.headerHeight+'px',width:$table.scrollBarWidth+'px'}"
    ng-if="$table.showVerticalScrollBar"
  ></div>
  <div class="uix-datatable-footer" ng-if="$table.showFooter">
    <uix-datatable-foot> </uix-datatable-foot>
  </div> -->
  </div>
  <div class="uix-datatable-empty" ng-if="$table.isEmpty">
    <span class="inner-text">{{ emptyText }}</span>
  </div>
  <div class="uix-datatable-loading" ng-show="$table.isLoading">
    <span class="inner-text">
      <i class="loading-icon glyphicon glyphicon-refresh"></i>
      <span>{{ loadingText }}</span>
    </span>
  </div>
  <div class="uix-datatable-error" ng-show="$table.isError">
    <span class="inner-text">
      <span>{{ errorText }}</span>
    </span>
  </div>
</div>
