<table ng-style="{width: $table.tableWidth+'px'}" class="uix-datatable-tbody" cellspacing="0" cellpadding="0" border="0">
    <colgroup>
     <col ng-repeat="col in $table.allDataColumns track by col.__id" ng-style="{width:col._width+'px'}">
    </colgroup>
    <tbody>
        <!-- ng-mouseenter="$table.handleMouseIn($event,row)"
        ng-mouseleave="$table.handleMouseOut($event,row)" -->
        <tr ng-repeat="(rowIndex, row) in $table.rebuildData"
           ng-class="row._rowClassName"
            ng-click="$table.handleClickRow($event,row)">
            <%template%>
        </tr>
    </tbody>
</table>