<div :class="" class="uix-datatable-cell">
  <span ng-if="renderType === 'index'">{{
    column.indexMethod ? column.indexMethod(row) : naturalIndex + 1
  }}</span>
  <span ng-if="renderType === 'checkbox'">
    <input type="checkbox">
  </span>
  <!-- <template ng-if="renderType === 'selection'">
     <Checkbox
      :value="checked"
      @click.native.stop="handleClick"
      @on-change="toggleSelect"
      :disabled="disabled"
    ></Checkbox>
  </template> -->
  <span ng-if="renderType === 'html'" v-html="row[column.key]"></span>
  <span ng-if="renderType === 'normal'">
    {{ row[column.key] }}
  </span>
  <div
    ng-if="renderType === 'expand' && !row._disableExpand"
    :class="expandCls"
    @click="toggleExpand"
  >
    <Icon type="ios-arrow-forward"></Icon>
  </div>
</div>
