<table
  ng-style="{width:$table.<%widthKey%>+'px'}"
  class="uix-datatable-tbody"
  cellspacing="0"
  cellpadding="0"
  border="0"
>
  <colgroup>
    <col
      ng-repeat="col in $table.<%columnsKey%> track by col.__id"
      width="{{col._width}}"
    />
  </colgroup>
  <tbody>
    <tr
      <%repeatExp%>="(rowIndex, row) in $table.data"
      class="uix-datatable-normal-row"
      ng-mouseenter="$table.handleMouseIn($event,rowIndex)"
      ng-mouseleave="$table.handleMouseOut($event,rowIndex)"
      ng-class="[$table.dataObj[rowIndex]._rowClassName,$table.dataObj[rowIndex]._isHover?'uix-datatable-row-hover':'']"
      ng-click="$table.handleClickRow($event,row, rowIndex)"
      <%rowHeightExp%>
    >
     <%template%>
    </tr>
    <%expand%>
  </tbody>
</table>
