<div ng-class="cellClasses(column)" class="uix-datatable-cell">
  <div ng-if="renderType==='normal'">
    <span>
      <span
        ng-class="{'uix-datatable-cell-sort': column.sortable}"
        ng-click="handleSortByHead(getColumn()._index)"
        >{{ column.title || columns.key || '#' }}
      </span>
    </span>
    <span class="uix-datatable-sort" ng-if="column.sortable">
      <i
        class="glyphicon glyphicon-triangle-top"
        ng-class="{on: getColumn()._sortType === 'asc'}"
        ng-click="handleSort(getColumn()._index, 'asc')"
      ></i>
      <i
        class="glyphicon glyphicon-triangle-bottom"
        ng-class="{on: getColumn()._sortType === 'desc'}"
        ng-click="handleSort(getColumn()._index, 'desc')"
      ></i>
    </span>
  </div>
  <div ng-if="renderType==='template'" class="head-cell-render-template"></div>
</div>
