<table
  class="uix-datatable-head"
  ng-class="{'uix-datatable-bordered':$table.isBordered}"
  cellspacing="0"
  cellpadding="0"
  ng-style="styles"
  border="0"
>
  <colgroup>
    <col
      ng-repeat="(index, column) in columns"
      width="{{ $table.setCellWidth(column) }}"
    />
    <col
      ng-if="$table.showVerticalScrollBar"
      width="{{ $table.scrollBarWidth }}"
    />
  </colgroup>
  <thead>
    <tr ng-repeat="(rowIndex, cols) in headRows track by rowIndex">
      <th
        ng-repeat="(index, column) in cols track by index"
        colspan="{{ column.colSpan }}"
        rowspan="{{ column.rowSpan }}"
        ng-class="alignCls(column)"
      >
      <uix-datatable-head-cell row-index="rowIndex" index="index" fixed="fixed" column="column">

      </uix-datatable-head-cell>  
      </th>
      <th
        v-if="$table.showVerticalScrollBar && rowIndex===0"
        ng-class="scrollBarCellClass()"
        rowspan="{{ headRows.length }}"
      ></th>
    </tr>
  </thead>
</table>
