<table
  class="uix-datatable-thead"
  ng-style="{width:$table.<%widthKey%>+'px'}"
  cellspacing="0"
  cellpadding="0"
  border="0"
>
  <colgroup>
    <col
      ng-repeat="col in $table.<%columnsKey%> track by col.__id"
      width="{{ col._width }}"
    />
  </colgroup>
  <thead>
    <tr
      ng-repeat="(rowIndex, cols) in $table.<%columnRowsKey%> track by rowIndex"
    >
      <th
        ng-repeat="(colIndex, column) in cols track by colIndex"
        colspan="{{:: column.colSpan }}"
        rowspan="{{:: column.rowSpan }}"
        ng-class="$table.alignCls(column)"
      >
        <div ng-class="{'uix-datatable-sort-cell':column.sortable}" class="uix-datatable-cell"  ng-click="$table.handleSortByHead(column)">
          <div ng-if="column.__renderHeadType==='normal'">
            <span>{{:: column.title || '#' }}</span>
            <i ng-class="column.hintIcon||'glyphicon glyphicon-question-sign'" ng-if="column.hint"
            tooltip-append-to-body="true" tooltip-placement="bottom" uix-tooltip="{{column.hint}}"></i> 
          </div>
          <div ng-if="column.__renderHeadType==='expand'">
          </div>
          <div ng-if="column.__renderHeadType==='selection'">
              <input type="checkbox" ng-change="$table.handleSelectAll()" ng-if="!column.singleSelect" ng-model="$table.isSelectedAll">
          </div>
          <div ng-if="column.__renderHeadType === 'template'">
            <%template%>
          </div>
          <div ng-if="column.__renderHeadType==='format'">
            {{ ::column.headerFormat(column) }}
            <i ng-class="column.hintIcon||'glyphicon glyphicon-question-sign'" ng-if="column.hint"
            tooltip-append-to-body="true" tooltip-placement="bottom" uix-tooltip="{{column.hint}}"></i> 
          </div>
          <span class="uix-datatable-sort" ng-if="column.sortable">
            <i
              class="uix-datatable-sort-up"
              ng-class="{on: column._sortType === 'asc'}"
              ng-click="$table.handleSort(column, 'asc', $event)"
            ></i>
            <i
              class="uix-datatable-sort-down"
              ng-class="{on: column._sortType === 'desc'}"
              ng-click="$table.handleSort(column, 'desc', $event)"
            ></i>
          </span>
        </div>
      </th>
    </tr>
  </thead>
</table>
