#posdemoparent {
    border: 1px solid #ccc;
    padding: 15px;
}

#posdemodiv {
    width: 100px;
    height: 100px;
    margin: 15px 0;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}