<div >
  <div class="b-a wrapper-xs bg-white">
    <div class=>
      <div class="modal-header wrapper-xs">
        <h5 class="modal-title">已选中{{vm.cityInfo.chosedCity.length}}个城市<span class="modal-title pull-right seeChosedCity" ng-click="vm.showSelected()">{{vm.cityInfo.isShowSelected?"收起 ":"查看已选城市"}}<i class="glyphicon" ng-class="{'glyphicon-chevron-down':(!vm.cityInfo.isShowSelected), 'glyphicon-chevron-up':(vm.cityInfo.isShowSelected&&vm.initSee)}"></i></span></h5>
      </div>
      <div class="modal-body initheight haveChosed"  ng-class="{cityBarOpen: (vm.cityInfo.isShowSelected&&vm.initSee), cityBarClose: (!vm.cityInfo.isShowSelected&&vm.initSee)}">
        <div class="col-sm-8">
          <button class="btn m-b-xs w-xs btn-default btn-sm chose-all" ng-click="vm.choseAll()" ng-if="vm.cityInfo.supportChoseAll">全选</button>
          <button class="btn m-b-xs w-xs btn-default btn-sm chose-clean" ng-click="vm.resetAll()" ng-if="vm.cityInfo.supportChoseClear">清空</button>
          <button class="btn m-b-xs w-xs btn-default btn-sm chose-reverse" ng-click="vm.reverseAll()" ng-if="vm.cityInfo.supportChoseReverse">反选</button>
        </div>
        <div class="input-group  col-sm-4">
          <form action="#" class="m-b-md ng-pristine ng-valid" ng-if="vm.cityInfo.supportSearch">
            <div class="input-group" uix-dropdown cols-num="1" on-toggle="vm.setCityList(open)">
              <input type="text" class="form-control input-sm city-search" uix-dropdown-toggle placeholder="城市搜索" ng-model="vm.searchedCity" ng-change="vm.changeSearchCity()">
              <span class="input-group-btn"><button class="btn btn-sm btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-search"></i></button></span>
              <ul class="dropdown-menu" role="menu" class="searchList">
                <li ng-repeat="item in vm.searchList" ng-click="vm.searchCityChose(item)" ng-class="{'chosecity': vm.checkChosed(item)}"><a title="{{item.cityName}}">{{item.cityName}}</a></li>
              </ul>
            </div>
          </form>
        </div>
        <div class="col-sm-12 cityContainer">
          <ul>
            <li class="cityselected" ng-repeat="city in vm.cityInfo.chosedCity track by $index" ng-if="vm.checkCityBelong(city)">{{city.cityName}} <i class="glyphicon glyphicon-remove" ng-click="vm.toggleChose(city)" ng-if="!city.initChose"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="modal-header wrapper-xs" ng-if="vm.cityInfo.isShowHot">
        <h5 class="modal-title">热门城市</h5>
      </div>
      <div  ng-if="vm.cityInfo.isShowHot" class="modal-body">
        <div class="showHot">
          <button class="btn m-b-xs btn-sm  btn-addon hot-city" style=" " ng-repeat="city in vm.cityInfo.hotCity track by $index" ng-class="{'btn-success': vm.checkChosed(city), 'btn-default': !(vm.checkChosed(city))}" ng-click="vm.toggleChose(city)" ng-if="vm.checkCityBelong(city)"><i class=" pull-right glyphicon"  ng-class="{'glyphicon-minus': vm.checkChosed(city), 'glyphicon-plus': !(vm.checkChosed(city))}"></i>{{city.cityName}}</button>
        </div>
      </div>
      <div class="tab-container ng-isolate-scope" ng-if="vm.cityInfo.supportGroup">
        <ul class="nav nav-tabs">
          <li class="city-tab" role="presentation" ng-repeat="item in vm.tabName track by $index" ng-class="{active: $index===vm.cityInfo.innerTab}" ng-click="vm.changeTab($index)"><a>{{item}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane col-sm-12 " ng-repeat="item in vm.tabName track by $index" ng-class="{active: $index===vm.cityInfo.innerTab}">
            <div ng-repeat="word in vm.cityInfo.allCity[item] track by $index">
              <h4>{{word.name}}</h4>
              <div>
                <button class="btn btn-sm m-b-xs w-xs btn-default cityButton" ng-repeat="city in word.data track by $index" city-id="city.cityId" ng-class="{'btn-success': vm.checkChosed(city)}" ng-disable="city.initChose" ng-click="vm.toggleChose(city)">{{city.cityName}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!vm.cityInfo.supportGroup">
        <div class="modal-header wrapper-xs" >
          <h5 class="modal-title">全部城市</h5>
        </div>
        <div class="modal-body">
          <button class="btn btn-sm m-b-xs w-xs btn-default cityButton" ng-repeat="city in vm.cityInfo.allCity track by $index" city-id="city.cityId" ng-class="{'btn-success': vm.checkChosed(city)}" ng-disable="city.initChose" ng-click="vm.toggleChose(city)">{{city.cityName}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
