.uix-form {
    .uix-form-necessary {
        &:before{
            content: "*";
            color: #ff5a5a;
        }
    }
    .uix-form-m-l {
        margin-left: -5px;
    }

    .uix-form-checks {
        padding-left: 20px;
        cursor: pointer;
        input {
            opacity: 0;
            position: absolute;
            margin-left: -20px;
        }
        input:checked+i {
            border-color: #23b7e5;
        }
        input:checked+i:before {
            left: 4px;
            top: 4px;
            width: 10px;
            height: 10px;
            background-color: #23b7e5;
        }
        input:checked+span .active {
            display: inherit;
        }
        input[type="radio"]+i,
        input[type="radio"]+i:before {
            border-radius: 50%;
        }
    }
    .uix-form-checks>i {
        width: 20px;
        height: 20px;
        line-height: 1;
        border: 1px solid #cfdadd;
        background-color: #fff;
        margin-left: -20px;
        margin-top: -2px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        position: relative;
    }
    .uix-form-checks>i:before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        width: 0px;
        height: 0px;
        background-color: transparent;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .uix-form-checks>span {
        margin-left: -20px;
    }

    .uix-form-checks>span .active {
        display: none;
    }

    .uix-form-m-r {
        margin-right: 15px;
    }

    .uix-form-pos-rlt {
        position: relative;
    }

    .uix-form-pos-abt {
        position: absolute;
    }

    .uix-form-m-b-md {
        margin-bottom: 20px;
    }

    .uix-form-text-xs {
        font-size: 12px;
    }

    .uix-form-text-error {
        color: #f05050;
    }

    .uix-form-text-warning {
        color: #fad733;
    }

    .uix-form-text-success {
        color: #27c24c;
    }
    .uix-form-l-h {
        line-height: 30px;
    }

}
.uix-form-m-l-md {
    margin-left: 20px;
}
.uix-form-w-sm {
    width: 150px;
}
.uix-form-m-t-md {
    margin-top: 20px;
}

.uix-form-btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0 !important;
    border: 1px solid transparent;
    &[disabled]{
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }
    &.active,&:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
}

.uix-form-btn-default {
    color: #58666e !important;
    background-color: #fcfdfd;
    border-color: #dee5e7;
    background-color: #fff;
    border-bottom-color: #d8e1e3;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    &:hover,&:focus,&:active,&.active{
        color: #58666e !important;
        background-color: #edf1f2;
        border-color: #c7d3d6;
        background-image: none;
    }
    &[disabled],&[disabled]:hover,&[disabled]:active{
        background-color: #fcfdfd;
        border-color: #dee5e7;
    }
    &:active,&.active,.open .dropdown-toggle.btn-default {
        background-image: none;
    }
}

.uix-form-btn-primary {
    color: #fff !important;
    background-color:  #7266ba;
    border-color:  #7266ba;
}

.uix-form-btn-primary{
    &:hover,&:focus,&:active,.active,.uix-form-btn-primary{
        color: #fff !important;
        background-color: #6254b2;
        border-color: #5a4daa;
    }
    &[disabled],&[disabled]:hover,&[disabled]:active{
        background-color: #7266ba;
        border-color: #7266ba;
    }
}