.btn-group {
    font-size: 0;
}
.btn-group > .btn-item {
    font-size: 14px;
}
.btn-group > .btn-item:first-child:not(:last-child) {
    border-radius: 6px;
    border-bottom-right-radius: 0 ;
    border-top-right-radius: 0;
    padding-right: 8px;
}
.btn-group > .btn-item:last-child:not(:first-child) {
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 8px;
}
