<!DOCTYPE html>
<html lang="en" ng-app="fuguTimepicker">
<head>
    <meta charset="UTF-8">
    <title>fugu-dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../timepanel/timepanel.css"/>
    <link rel="stylesheet" href="./timepicker.css"/>
</head>
<body>

<div ng-controller="timepickerCtrl">
    <fugu-timepicker ng-disabled="isDisabled" format="'HH:mm:ss'" ng-model="time" placeholder="我是placeholder"></fugu-timepicker>
    <div class="row">
        <div class="col-md-9">
            <fugu-timepicker minute-step="'=10'" format="'hh:mm:ss a'" ng-model="time" placeholder="timepicker"></fugu-timepicker>
        </div>
        <div class="col-md-3">
            <pre>time:{{time | date:'HH:mm:ss'}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <fugu-timepicker format="'HH:mm:ss'" ng-model="time2"></fugu-timepicker>
        </div>
        <div class="col-md-3">
            <pre>time2:{{time2 | date:'HH:mm:ss'}}</pre>
        </div>
    </div>
</div>


<script src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../lib/angular/angular.min.js"></script>
<script src="../timepanel/timepanel.js"></script>
<script src="timepicker.js"></script>
<script>
    var app = angular.module('fuguTimepicker',['ui.fugu.timepicker']);
    app.controller('timepickerCtrl',['$scope', function ($scope) {
        $scope.time = new Date();
        $scope.time2 = new Date();
        $scope.isDisabled = true;
    }]);
</script>
</body>
</html>
