$arrow-left:9px;
$arrow-top:6px;
$panel-height:120px;
.uix-timepicker{
    position: relative;
    display: inline-block;
    button{
        outline: none;
    }
}
.uix-timepicker-popover.in{
    display: block;
    .uix-timepanel{
        border:0;
    }
}