$arrow-left:9px;
$arrow-top:6px;
$panel-height:120px;
.fugu-timepicker{
    position: relative;
    display: inline-block;
    button{
        outline: none;
    }
    .fugu-timepicker-popover.in{
        display: block;
    }
    .fugu-timepanel{
        border:0;
    }
}