.fugu-timepicker {
  position: relative;
  display: inline-block; }
  .fugu-timepicker button {
    outline: none; }
  .fugu-timepicker .fugu-timepicker-popover.in {
    display: block; }
  .fugu-timepicker .fugu-timepanel {
    border: 0; }
