.fugu-timepicker {
  position: relative;
  display: inline-block; }
  .fugu-timepicker button {
    outline: none; }
  .fugu-timepicker .fugu-timepanel {
    position: absolute;
    left: 0;
    z-index: 1000; }
    .fugu-timepicker .fugu-timepanel:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      left: 9px; }
    .fugu-timepicker .fugu-timepanel:after {
      position: absolute;
      left: 10px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      display: inline-block; }
  .fugu-timepicker .fugu-timepicker-timepanel-bottom {
    top: 35px; }
    .fugu-timepicker .fugu-timepicker-timepanel-bottom:before {
      border-bottom: 7px solid #ddd;
      top: -7px; }
    .fugu-timepicker .fugu-timepicker-timepanel-bottom:after {
      top: -6px;
      border-bottom: 6px solid #fff; }
  .fugu-timepicker .fugu-timepicker-timepanel-top {
    top: -126px; }
    .fugu-timepicker .fugu-timepicker-timepanel-top:before {
      border-top: 7px solid #ddd;
      top: 118px; }
    .fugu-timepicker .fugu-timepicker-timepanel-top:after {
      top: 118px;
      border-top: 6px solid #fff; }
