.uix-timepicker {
  position: relative; }
  .uix-timepicker .uix-timepicker-input {
    cursor: pointer;
    background: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
  .uix-timepicker .uix-timepicker-input.disabled,
  .uix-timepicker .uix-timepicker-input[disabled] {
    cursor: not-allowed; }
  .uix-timepicker button {
    outline: none; }

.uix-timepicker-popover .popover-content {
  padding: 0; }

.uix-timepicker-popover .uix-timepanel {
  border: 0; }
