<div class="panel-body" >
    <div class="uix-form" ng-class="{'form-horizontal':layout==='form'}"></div>
    <div class="row text-center">
        <button type="button" class="btn w-sm btn-sm btn-primary m-r-md"
                ng-disabled="$form.tableLoader === 1"
                ng-click="$form.submit()">
            提交
        </button>
    </div>
</div>
    <!-- <uix-select ng-model="goods.brand">
        <uix-select-match>{{$select.selected.brandName}}</uix-select-match>
        <uix-select-choices repeat="item in brandList | filter:$select.search">
            <span>{{item.brandName}}</span>
        </uix-select-choices>
    </uix-select> -->