<div class="col-md-3 tplHtml" ng-if="vm.layout==='search'">
    <label>{{item.text}}</label>
    <div ng-if="!item.tpl">
        <input type="text" class="form-control input-sm">
    </div>
    <div ng-if="item.tpl">
        <!-- <%template%> -->
    </div>
</div>
<!-- form -->
<div class="form-group row" ng-if="vm.layout==='form'">
    <label class="col-md-{{item.labelWith?item.labelWith:2}}">{{item.text}}</label>
    <div class="col-md-{{item.divWith?item.divWith:4}}">
        <input type="text" class="form-control input-sm">
    </div>
</div>
<!-- <div class="form-group col-md-{{item.divWidth?item.divWidth:3}}" ng-repeat="item in data">
            <label class="text-{{item.textalign}} uix-form-necessary">{{item.text}}</label>
            <div ng-if="!item.tplUrl">
               
                <input type="text" class="form-control input-sm" ng-if="item.type==='input'">
                <uix-datepicker size="sm" ng-model="item.value" ng-if="item.type==='datepicker'"></uix-datepicker>
            </div>
            <div ng-if="item.tplUrl" class="tplHtml">
               {{vm.renderTpl(item.tplUrl)}}
            </div>
        </div> -->
        <div class="form-horizontal" ng-if="layout==='form'">
                <div class="form-group row" ng-repeat="item in data">
                        <label class="col-md-{{item.labelWidth?item.labelWidth:2}} text-{{item.textalign}}" ng-class="{true: 'uix-form-necessary', false: ''}[item.necessary]" >{{item.text}}{{item.necessary}}</label>
                        <div class="col-md-{{item.divWidth?item.divWidth:4}}" ng-if="!item.tplUrl">
                            <input type="text" class="form-control input-sm">
                        </div>
                        <!-- 自定义模板 -->
                        <div ng-if="item.tplUrl" class="tplHtml">
                            {{vm.renderTpl(item.tplUrl)}}
                        </div>
                    </div>
            <!-- <uix-form-item ng-repeat="item in data" item="item" layout="layout"></uix-form-item> -->
        </div>
        