<div class="app-wrapper">
    <header class="app-home">
        <h1>Angular ui fugu</h1>
        <h2>基于<a href="http://getbootstrap.com/" class="a-link">Bootstrap</a>的<a href="https://angularjs.org/" class="a-link">Angular</a>组件库</h2>
        <p class="padder-t-s">
            <a target="_blank" href="http://github.com/xgfe/angular-ui-fugu" class="btn btn-outline-inverse btn-lg link-btn">Code on Github</a>
            <button type="button" class="btn btn-outline-inverse btn-lg link-btn">
                <i class="glyphicon glyphicon-download-alt"></i> Download
            </button>
            <!--<button type="button" class="btn btn-outline-inverse btn-lg">
                <i class="glyphicon glyphicon-wrench"></i>  Create a Build
            </button>-->
        </p>
    </header>
</div>
