<header class="app-home">
    <h1>Angular ui fugu</h1>
    <p>基于<a href="http://getbootstrap.com/">Bootstrap</a>的<a href="https://angularjs.org/">Angular</a>组件库</p>
    <p>
        <a target="_blank" href="http://github.com/xgfe/angular-ui-fugu" class="btn btn-outline-inverse btn-lg">Code on Github</a>
        <button type="button" class="btn btn-outline-inverse btn-lg">
            <i class="glyphicon glyphicon-download-alt"></i> Download
        </button>
        <!--<button type="button" class="btn btn-outline-inverse btn-lg">
            <i class="glyphicon glyphicon-wrench"></i>  Create a Build
        </button>-->
    </p>
</header>