<div class="app-wrapper">
    <header class="app-home">
        <h1 class="text-gradient">UI XG</h1>
        <h2>基于<a href="http://getbootstrap.com/" class="a-link">Bootstrap</a>的<a href="https://angularjs.org/" class="a-link">Angular</a>组件库</h2>
        <p class="padder-t-s">
            <iframe width="100px" height="30px" src="https://ghbtns.com/github-btn.html?user=xgfe&repo=ui-xg&type=star&count=true" frameborder="0" scrolling="0"></iframe>
            <a target="_blank" href="http://github.com/xgfe/ui-xg" class="btn btn-outline-inverse btn-lg link-btn">Code on Github</a>
            <button type="button" class="btn btn-outline-inverse btn-lg link-btn">
                <i class="glyphicon glyphicon-download-alt"></i> Download
            </button>
            <!--<button type="button" class="btn btn-outline-inverse btn-lg">
                <i class="glyphicon glyphicon-wrench"></i>  Create a Build
            </button>-->
        </p>
    </header>
</div>
