.uix-datatable .demo-table-info-row td{
    background-color: #2db7f5;
    color: #fff;
}
.uix-datatable .demo-table-error-row td{
    background-color: #ff6600;
    color: #fff;
}
.uix-datatable td.demo-table-info-column{
    background-color: #2db7f5;
    color: #fff;
}
.uix-datatable .demo-table-info-cell-name {
    background-color: #2db7f5;
    color: #fff;
}
.uix-datatable .demo-table-info-cell-age {
    background-color: #ff6600;
    color: #fff;
}
.uix-datatable .demo-table-info-cell-address {
    background-color: #187;
    color: #fff;
}