<!DOCTYPE html>
<html lang="en" ng-app="fuguButton">
<head>
    <meta charset="UTF-8">
    <title>fugu-button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="button.css"/>
</head>
<body ng-controller="buttonCtrl">
    <p>type设置按钮类型:button(按钮)、submit(提交)、reset(重置)。区别:form 表单中,submit会自动提交;reset重置表单内容.默认为button</p>
    <form ng-submit="submitFn();">
        <input ng-model="formContent">
        <fugu-button></fugu-button>
        <fugu-button text="submit" type="submit"></fugu-button>
        <fugu-button text="reset" type="reset"></fugu-button>
    </form>
    <p>btnClass设置按钮样式:danger | warning | default | success | info ｜ primary | link,默认为default</p>
    <fugu-button ng-repeat="c in classArr" text="c" btnClass="c"></fugu-button>
    <p>size设置按钮大小:x-small | small | default | large,默认为default</p>
    <fugu-button ng-repeat="s in sizeArr" text="s" btnClass="s"></fugu-button>
    <fugu-button btnClass="'success'" text="'传递字串设置size'" size="'x-small'"></fugu-button>
    <p>block设置按钮是否全部平铺父元素:true|false,默认为false</p>
    <fugu-button block="'true'" text="'block'"></fugu-button>
    <p>active设置按钮是否选中状态:true|false,默认为false</p>
    <fugu-button active="true" text="'active'"></fugu-button>
    <fugu-button active="false" text="'noActive'"></fugu-button>
    <p>disabled设置按钮是否不可用:true|false,默认为false</p>
    <fugu-button disabled="true" text="'disabled'"></fugu-button>
    <fugu-button disabled="false" text="'noDisabled'"></fugu-button>
    <p>loading设置按钮显示加载效果:true|false,默认为false，设置为加载状态，则默认不可用</p>
    <fugu-button loading="true" text="'loading'"></fugu-button>
    <fugu-button disabled="false" text="'noLoading'"></fugu-button>
    <p>click事件</p>
    <fugu-button text="'click事件'" click="clickFn()"></fugu-button>
    <fugu-button loading="loading" text="'被控制loading效果'"></fugu-button>
    <p>icon设置按钮图标，默认无</p>
    <fugu-button icon="'plus'" text="'add'" size="'x-small'"></fugu-button>
</body>
<script src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../lib/angular/angular.min.js"></script>
<script src="button.js"></script>
<script>
    var app = angular.module('fuguButton',['ui.fugu.button']);
    app.controller('buttonCtrl',['$scope', function ($scope) {
        $scope.btnClass = 'primary';
        $scope.formContent = '表单内容';
        $scope.submit = "Submit";
        $scope.reset = "Reset";

        $scope.loading = false;
        $scope.clickFn = function(){
            $scope.loading = !$scope.loading;
        };
        $scope.submitFn = function(){
            alert('submit');
        };
        $scope.classArr = ['danger', 'warning' , 'default' , 'success' , 'info' , 'primary', 'link'];
        $scope.sizeArr = ['x-small', 'small' , 'large'];
    }]);
</script>
</html>
