<div class="fugu-datepicker">
    <div class="input-group">
        <input type="text" ng-class="{'input-sm':size==='sm','input-lg':size==='lg'}" ng-disabled="isDisabled" class="form-control fugu-datepicker-input" ng-click="toggleCalendarHandler($event)" placeholder="{{placeholder}}" ng-model="inputValue">
        <span class="input-group-btn" ng-if="clearBtn">
            <button ng-class="{'btn-sm':size==='sm','btn-lg':size==='lg'}" ng-disabled="isDisabled" class="btn btn-default fugu-datepicker-remove" type="button" ng-click="clearDateHandler($event)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <button ng-class="{'btn-sm':size==='sm','btn-lg':size==='lg'}" ng-disabled="isDisabled" class="btn btn-default fugu-datepicker-toggle" type="button" ng-click="toggleCalendarHandler($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
    <div class="popover" ng-class="{in:showCalendar}">
        <div class="arrow"></div>
        <div class="popover-inner">
            <fugu-calendar ng-model="selectDate" ng-if="showCalendar" on-change="changeDateHandler"
                           exceptions="exceptions" min-date="minDate" max-date="maxDate" show-time="showTime"></fugu-calendar>
        </div>
    </div>
</div>
