<div class="fugu-datepicker">
    <div class="input-group">
        <input type="text" ng-disabled="isDisabled" class="input-sm form-control fugu-datepicker-input" ng-click="toggleCalendarHandler($event)" placeholder="{{placeholder}}" ng-model="inputValue">
        <span class="input-group-btn" ng-if="clearBtn">
            <button ng-disabled="isDisabled" class="btn btn-sm btn-default fugu-datepicker-remove" type="button" ng-click="clearDateHandler($event)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <button ng-disabled="isDisabled" class="btn btn-sm btn-default" type="button" ng-click="toggleCalendarHandler($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
    <fugu-calendar ng-model="selectDate" ng-if="showCalendar" on-change="changeDateHandler"
                   exceptions="exceptions" min-date="minDate" max-date="maxDate"></fugu-calendar>
</div>
