<div class="uix-datepicker">
    <div class="input-group" popover-class="uix-datepicker-popover" popover-trigger="none" popover-is-open="showCalendar"
         popover-placement="auto bottom bottom-left" uix-popover-template="'templates/datepicker-calendar.html'">
        <input type="text" ng-class="{'input-sm':size==='sm','input-lg':size==='lg'}"
               ng-disabled="isDisabled" class="form-control uix-datepicker-input"
               ng-click="toggleCalendarHandler($event)" placeholder="{{placeholder}}"
               ng-model="inputValue" readonly>
        <span class="input-group-btn" ng-if="clearBtn">
            <button ng-class="{'btn-sm':size==='sm','btn-lg':size==='lg'}" ng-disabled="isDisabled" class="btn btn-default uix-datepicker-remove" type="button" ng-click="clearDateHandler($event)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <button ng-class="{'btn-sm':size==='sm','btn-lg':size==='lg'}" ng-disabled="isDisabled" class="btn btn-default uix-datepicker-toggle" type="button" ng-click="toggleCalendarHandler($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
</div>
