<div class="fugu-timepicker">
    <div class="input-group">
        <input type="text" ng-disabled="isDisabled" class="input-sm form-control fugu-timepicker-input" ng-click="toggleTimepanel($event)" placeholder="{{placeholder}}" ng-model="inputValue">
        <span class="input-group-btn">
            <button ng-disabled="isDisabled" class="btn btn-sm btn-default" type="button" ng-click="toggleTimepanel($event)">
                <i class="glyphicon glyphicon-time"></i>
            </button>
        </span>
    </div>
    <fugu-timepanel readonly-input="readonlyInput" hour-step="hourStep" minute-step="minuteStep" second-step="secondStep" class="fugu-timepicker-timepanel-bottom" ng-model="selectedTime" on-change="changeTime" ng-show="showTimepanel"></fugu-timepanel>
</div>
