<div class="uix-timepicker">
    <div class="input-group">
        <input type="text" ng-disabled="isDisabled" ng-class="{'input-sm':size==='sm','input-lg':size==='lg'}"
               class="form-control uix-timepicker-input" ng-click="toggleTimepanel($event)"
               placeholder="{{placeholder}}" ng-model="inputValue" readonly>
        <span class="input-group-btn">
            <button ng-disabled="isDisabled" ng-class="{'btn-sm':size==='sm','btn-lg':size==='lg'}" class="btn btn-default" type="button" ng-click="toggleTimepanel($event)">
                <i class="glyphicon glyphicon-time"></i>
            </button>
        </span>
    </div>
</div>
