.uix-alert {
  word-wrap: break-word; }
  .uix-alert .alert-icon {
    float: left; }
  .uix-alert .alert-icon-span {
    position: relative;
    top: 2px; }
  .uix-alert .cancel-text {
    font-size: 20px; }
  .uix-alert .show-icon {
    padding-left: 20px; }
