.fugu-alert{
    word-wrap: break-word;
    .alert-icon{
        float: left;
    }
    .alert-icon-span{
        position: relative;
        top: 2px;
    }
    .cancel-text{
        font-size: 20px;
    }
    .show-icon{
        padding-left: 20px;
    }
}
