/*!
 fugu-alert.scss
 Version: 0.0.1
 Author: heqingyang@meituan.com
 */
.fugu-alert{
    .alert-icon{
        float: left;
    }
    .alert-icon-span{
        position: relative;
        top: 2px;
    }
    .cancel-text{
        font-size: 20px;
    }
    .show-icon{
        padding-left: 20px;
    }
}
//简单兼容移动端样式
@media screen and (max-width: 767px) {
    .fugu-dropdown{
        & > .dropdown-menu{
            width: 250px;
            li{
                width: 50%;
            }
        }
    }
    .fugu-dropdown.open{
        width: 100%;
    }
}
