<div class="notice-container">
    <div class="notice-item" ng-repeat="notification in notifications">
        <!--<fugu-alert type="{{notification.type}}" has-icon="{{notification.disableIcon}}" close="{{!notification.disableCloseBtn}}" close-func="closeFn(notification)" class="media-heading">{{notification.text}}</fugu-alert>-->
        <fugu-alert type="{{notification.type}}" has-icon="true" close="{{!notification.disableCloseBtn}}" close-func="closeFn(notification)" class="media-heading">{{notification.text}}</fugu-alert>
    </div>
</div>